<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/styles.css"/>

    <title>C#: Portfolio</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

    <h3>Contact me:</h3>
    <p>Ad enim laborum id pariatur elit consectetur culpa dolore elit esse aute ex aute est. Ex occaecat eu aliqua magna ullamco do nisi quis ea sint esse. Pariatur adipisicing aliquip culpa velit quis Lorem sit dolor tempor aliqua cillum dolor veniam amet. Ea id officia eiusmod irure officia cupidatat ut. Labore non incididunt non non deserunt elit ex aliquip fugiat deserunt dolor in irure consequat.</p>
</body>
</html>