<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/styles.css"/>

    <title>C#: Portfolio</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

    <h3>Some basic information:</h3>
    <p>Officia tempor aliqua reprehenderit laboris exercitation esse voluptate ea eiusmod laboris exercitation minim. Veniam proident qui ad ullamco incididunt cillum dolor commodo ex qui exercitation excepteur tempor fugiat. Consequat elit ullamco Lorem reprehenderit enim proident qui magna esse adipisicing veniam sunt consectetur ut. Adipisicing sit commodo reprehenderit mollit qui in sunt nostrud ea enim tempor. Ea anim consectetur incididunt quis dolore eiusmod sit in et labore commodo. Sit incididunt nostrud esse sint cillum cupidatat. Excepteur sint laborum quis veniam ullamco aliqua veniam elit cupidatat.</p>
</body>
</html>