<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/styles.css"/>

    <title>C#: Portfolio</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

<div id="portfolioContainer">
    <h3>Some of my projects:</h3>
    <img src="~/images/html5.png">
    <img src="~/images/javascript.png">
    <img src="~/images/python.png">
    <img src="~/images/mongo.png">
    <img src="~/images/angular.png">

    </div>
</body>
</html>